{% extends 'mailer.html.twig' %}
{% block body %}
<body class="bg-light">
    <div style="background-color: lightgray; width: 500px; height:100%">
        <div class="card p-6 p-lg-10 space-y-4">
            <h1 class="h3 fw-700">
                Change Password
            </h1>
            <p>
                Here is your one time pin {{ one_time_pin }}
            </p>
            <p>
                Here you can now change your password, by clicking the following link:<br>
                <a href="{{ url('app_change_user_password', {user_id, user_id}) }}">Click to Change Password</a>
            </p>
        </div>
    </div>
</body>
{% endblock %}
