{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form action="{{ path('app_contact_form') }}" method="post">
            <label for="name" class="">Full Name</label>
            <input id="name" name="fullname" class="form-control">
        </form>
    </div>
{% endblock %}

